
@font-face {
    font-family: 'MyriadPro_R';
    src: url('fonts/MyriadPro_R.eot?#iefix') format('embedded-opentype');
  }

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  li {
      list-style-type: none;
  }

  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  h1, h2, h3, h4, h5, h6 {
      padding: 0;
      margin: 0;
  }
  a {
    text-decoration: none;
  }
  
body {
    position: relative;
  font-family: 'MyriadPro_R';
    }
  .container {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }

// ------header-------
.header {
    background: url(../img/main-bg.jpg) no-repeat center;
    padding-top: 190px;
    padding-bottom: 140px;
    & .filters {
       width: 100%;
        &__main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #fff;
            border-radius: 10px;
            height: 80px;
            margin-bottom: 50px;       
        }
        &__name {
            max-width: 148px;
            width: 100%;
            text-align: center;
            padding-bottom: 18px;
            & label {
                font-size: 24px;
            }
            & input {
                max-width: 148px;
                width: 100%;
                border: 1px solid #00a7c1;
                border-radius: 10px;
                padding: 8px 15px 2px 15px;
                outline: none;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #848484;
                    font-size: 24px;
                }
            }
        }
        &__type {
            max-width: 148px;
            width: 100%;
            text-align: center;
            padding-bottom: 18px;
            &_text {
                font-size: 24px;
            }
            & input {
                max-width: 148px;
                width: 100%;
                border: 1px solid #00a7c1;
                border-radius: 10px;
                padding: 8px 15px;
                outline: none;
            }
        }
    }
}

.filters__type_wrap {
    display: flex;
}
.filters__type_wrap input[type="radio"] {
    display:none; 
}

.filters__type_wrap label {
    display:inline-block;
    background-color:#fff;
    font-size:24px;
    border: 1px solid #00a7c1;
    width: calc(100% / 3);
    height: 30px;
}
.filters__type_wrap :nth-child(2) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.filters__type_wrap :nth-child(6) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filters__type_wrap input[type="radio"]:checked + label { 
    background-color: rgba(109, 207, 246, .52);
    border: 1px solid #60adf0;
}
.filters__status_text {
    font-size: 24px;
}
.filters__status {
    text-align: center;
    padding-bottom: 18px;
    &_list {
        position: relative;
        width: 150px;
        border: 1px solid #00a7c1;
        font-size: 24px;
        border-radius: 10px;
        font-size: 24px;
        text-align: left;
        padding-left: 20px;
        transition: .3s all;
        background: url(../img/arrow.png) no-repeat;
        background-position: 95% 50%;
        cursor: pointer;
    }
    &_dropdown {
        display: none;
        position: absolute;
        width: 150px;
        left: -1px;
        top: 28px;
        background: #fff;
        border: 1px solid #00a7c1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 0;
        transition: .5s all;
        z-index: 5;
        & li {
            width: 100%;
            padding: 5px 18px;
            &:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            cursor: pointer;
            &:hover {
               font-weight: 700;
            }
        }
    }
}
.filters__status_dropdown.active {
            display: block;
            opacity: 1;
        }
.filters__status_list.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.filters__sizes {
    position: relative;
    max-width: 150px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_text {
        text-align: center;
        font-size: 24px;
    }
}

//input sizes  

input[type=range] {
    width: 150px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: absolute;
  }
  input[type=range],
  input[type=range]::-webkit-slider-runnable-track,
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
      background: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 150px;
    height: 2px;
    background: #00aeef;
  }
  
  input[type=range]:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    position: relative;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    background: #fff;
    border: 1px solid #00aeef;
    border-radius: 25px;
    z-index: 1;
  }
  input[type=range]:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
  }
  


.upload__items {
    
    &_item {
        position: relative;
        width: 100%;
        height: 80px;
        background: #fff;
        border-radius: 10px;
        display: flex;
        margin-bottom: 25px;
        & button {
            position: relative;
            border-top-left-radius: 10px; 
            border-bottom-left-radius: 10px;
            min-height: 80px;
            max-width: 48px;
            width: 100%;
            border: none;
            outline: none;
            transition: .5s all;
            background: #00aeef url(../img/upload.png) no-repeat;
            background-position: center center;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                background-position: 50% 45%;
            }
            & input {
                position: absolute;
                opacity: 0;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
        & .item__delete {
            border-top-left-radius: 0; 
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px;
            background: #ed1c24 url(../img/delete.png) no-repeat;
            background-position: center center;
            
        }
    }
    &_reference {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 40px;
        padding-right: 80px;
        &-name,
        &-size,
        &-filetype,
        &-time {
            text-align: center;
        }
        &-title,
        &-text {
                font-size: 24px;
                color: #373e3f;
            }
    }
}
.upload__items_reference-text-new {
    color: #259802;
}
.upload__items_reference-text-old {
    color: #00a8c6;
}
.upload__items_reference-text-removed {
    color: #ed1c24;
}

.upload__items_item.upload__items_item-no-active .item__upload {
    display: none;
}
.upload__items_item-no-active-mask {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    & .item__reply {
        border-top-left-radius: 0; 
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px; 
        border-bottom-right-radius: 10px;
        background: #00a9c7 url(../img/reply.png) no-repeat;
        background-position: center center;
    }
}
.button__upload {
    width: 100%;
    margin-bottom: 25px;
    &_file {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
    }
    &_btn {
        position: relative;
        width: 100%;
        background: rgba(85,85,95, .7);
        border: 1px solid #3bafb1;
        border-radius: 10px;
        min-height: 80px;
        max-height: 80px;
        outline: none;
        font-size: 24px;
        color: #02c4e6;
        text-align: center;
        transition: .3s all;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            background: #fff;
            border: 1px dashed #000;
        }
    }
}
.paggination {
    width: 100%;
    &__list {
        display: flex;
        max-width: 230px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50px;
        width: 100%;
        height: 50px;
        background: #fff;
        color: #02c4e6;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
    }
}
.modal__window {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(83, 71, 65, .7);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 5;  
    opacity: 0;
    &_question {
        position: relative;
        background: #fff;
        border-radius: 10px;
        max-width: 432px;
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
    &_care {
        background: #767272 url(../img/basket.png) no-repeat center;
        border-radius: 100%;
        max-width: 80px;
        width: 100%;
        height: 80px;
    }
    &_text {
        font-size: 24px;
        color: #2c2c2c;
    }
    &_delete {
        border-radius: 10px;
        background-color: rgb(237, 28, 36);
        max-width: 132px;
        width: 100%;
        height: 42px;
        font-size: 24px;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    
}
.modal_close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: .5s all;
    &:hover {
        transform: scale(1.5);
    }
}



.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 24px;
    border-radius: 20px;
    background: #bfbfbf;
    transition: .5s all;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}
.switch::before {
    position: absolute;
    content: '';
    left: -6px;
    top: -6px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #3071a9;
    box-shadow: 0 0 10px 0 #999999;
    transition: .5s all;
    z-index: 1;
}
.switch::after {
    position: absolute;
    content: 'Off';
    right: 6px;
    top: 50%;
    font-size: 12px;
    color: #000;
    transform: translate(0, -50%);
    transition: .5s all;
}
.switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999;
}
.switch-on::before {
    background: red;
    left: 30px;
}
.switch-on::after {
    content: 'On';
    left: 6px;
    top: 50%;
}
//input numbers
.counter-input {
    display: flex;
    justify-content: center;
}

.counter-place {
    width: 100px;
    height: 50px;
    border: 1px solid #00a8c6;
    font-size: 30px;
    margin: 0 20px;
    text-align: center;
    border-radius: 10px;
}
.btn_min,
.btn_max {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: #00aeef;
    border: 1px solid transparent;
    font-size: 30px;
    border-radius: 10px;
    transition: .5s all;
    cursor: pointer;
    &:focus {
        border: none;
        outline: none;
    }
    &:active {
        outline: none;
    }
    &:hover {
        color: #00a8c6;
        background: #fff;
        border: 1px solid #00a8c6
    }
}