@font-face {
  font-family: 'MyriadPro_R';
  src: url("fonts/MyriadPro_R.eot?#iefix") format("embedded-opentype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: 'MyriadPro_R';
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: url(../img/main-bg.jpg) no-repeat center;
  padding-top: 190px;
  padding-bottom: 140px;
}

.header .filters {
  width: 100%;
}

.header .filters__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 10px;
  height: 80px;
  margin-bottom: 50px;
}

.header .filters__name {
  max-width: 148px;
  width: 100%;
  text-align: center;
  padding-bottom: 18px;
}

.header .filters__name label {
  font-size: 24px;
}

.header .filters__name input {
  max-width: 148px;
  width: 100%;
  border: 1px solid #00a7c1;
  border-radius: 10px;
  padding: 8px 15px 2px 15px;
  outline: none;
}

.header .filters__name input:focus {
  outline: none;
}

.header .filters__name input::-webkit-input-placeholder {
  color: #848484;
  font-size: 24px;
}

.header .filters__name input:-ms-input-placeholder {
  color: #848484;
  font-size: 24px;
}

.header .filters__name input::-ms-input-placeholder {
  color: #848484;
  font-size: 24px;
}

.header .filters__name input::placeholder {
  color: #848484;
  font-size: 24px;
}

.header .filters__type {
  max-width: 148px;
  width: 100%;
  text-align: center;
  padding-bottom: 18px;
}

.header .filters__type_text {
  font-size: 24px;
}

.header .filters__type input {
  max-width: 148px;
  width: 100%;
  border: 1px solid #00a7c1;
  border-radius: 10px;
  padding: 8px 15px;
  outline: none;
}

.filters__type_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__type_wrap input[type="radio"] {
  display: none;
}

.filters__type_wrap label {
  display: inline-block;
  background-color: #fff;
  font-size: 24px;
  border: 1px solid #00a7c1;
  width: calc(100% / 3);
  height: 30px;
}

.filters__type_wrap :nth-child(2) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.filters__type_wrap :nth-child(6) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filters__type_wrap input[type="radio"]:checked + label {
  background-color: rgba(109, 207, 246, 0.52);
  border: 1px solid #60adf0;
}

.filters__status_text {
  font-size: 24px;
}

.filters__status {
  text-align: center;
  padding-bottom: 18px;
}

.filters__status_list {
  position: relative;
  width: 150px;
  border: 1px solid #00a7c1;
  font-size: 24px;
  border-radius: 10px;
  font-size: 24px;
  text-align: left;
  padding-left: 20px;
  -webkit-transition: .3s all;
  transition: .3s all;
  background: url(../img/arrow.png) no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
}

.filters__status_dropdown {
  display: none;
  position: absolute;
  width: 150px;
  left: -1px;
  top: 28px;
  background: #fff;
  border: 1px solid #00a7c1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  -webkit-transition: .5s all;
  transition: .5s all;
  z-index: 5;
}

.filters__status_dropdown li {
  width: 100%;
  padding: 5px 18px;
  cursor: pointer;
}

.filters__status_dropdown li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.filters__status_dropdown li:hover {
  font-weight: 700;
}

.filters__status_dropdown.active {
  display: block;
  opacity: 1;
}

.filters__status_list.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filters__sizes_text {
  text-align: center;
  font-size: 24px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #00a7c1;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #28b5cb;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00a7c1;
}

input[type=range][multiple] {
  display: block;
  height: 2em;
  margin: 0;
  pointer-events: none;
  z-index: 1;
}

input[type=range][multiple] + input[type=range][multiple] {
  margin-top: -2em;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
}

input[type=range]::-ms-thumb {
  pointer-events: all;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3071a9;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #28b5cb;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #00a7c1;
}

input[type=range]::-ms-fill-upper {
  background: #00a7c1;
}

input[type=range]::-ms-thumb {
  border: 1px solid #00a7c1;
  height: 20px;
  width: 20px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #00a7c1;
}

input[type=range]:focus::-ms-fill-upper {
  background: #00a7c1;
}

.upload__items_item {
  position: relative;
  width: 100%;
  height: 80px;
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.upload__items_item button {
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 80px;
  max-width: 48px;
  width: 100%;
  border: none;
  outline: none;
  -webkit-transition: .5s all;
  transition: .5s all;
  background: #00aeef url(../img/upload.png) no-repeat;
  background-position: center center;
  cursor: pointer;
}

.upload__items_item button:focus {
  outline: none;
}

.upload__items_item button:hover {
  background-position: 50% 45%;
}

.upload__items_item button input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload__items_item .item__delete {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ed1c24 url(../img/delete.png) no-repeat;
  background-position: center center;
}

.upload__items_reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 40px;
  padding-right: 80px;
}

.upload__items_reference-name, .upload__items_reference-size, .upload__items_reference-filetype, .upload__items_reference-time {
  text-align: center;
}

.upload__items_reference-title, .upload__items_reference-text {
  font-size: 24px;
  color: #373e3f;
}

.upload__items_reference-text-new {
  color: #259802;
}

.upload__items_reference-text-old {
  color: #00a8c6;
}

.upload__items_reference-text-removed {
  color: #ed1c24;
}

.upload__items_item.upload__items_item-no-active .item__upload {
  display: none;
}

.upload__items_item-no-active-mask {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.upload__items_item-no-active-mask .item__reply {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #00a9c7 url(../img/reply.png) no-repeat;
  background-position: center center;
}

.button__upload {
  width: 100%;
  margin-bottom: 25px;
}

.button__upload_file {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.button__upload_btn {
  position: relative;
  width: 100%;
  background: rgba(85, 85, 95, 0.7);
  border: 1px solid #3bafb1;
  border-radius: 10px;
  min-height: 80px;
  max-height: 80px;
  outline: none;
  font-size: 24px;
  color: #02c4e6;
  text-align: center;
}

.button__upload_btn:focus {
  outline: none;
}

.paggination {
  width: 100%;
}

.paggination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 230px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.paggination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50px;
  width: 100%;
  height: 50px;
  background: #fff;
  color: #02c4e6;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.modal__window {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(83, 71, 65, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.modal__window_question {
  background: #fff;
  border-radius: 10px;
  max-width: 432px;
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.modal__window_care {
  background: #767272 url(../img/basket.png) no-repeat center;
  border-radius: 100%;
  max-width: 80px;
  width: 100%;
  height: 80px;
}

.modal__window_text {
  font-size: 24px;
  color: #2c2c2c;
}

.modal__window_delete {
  border-radius: 10px;
  background-color: #ed1c24;
  max-width: 132px;
  width: 100%;
  height: 42px;
  font-size: 24px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal__window_delete:focus {
  outline: none;
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 24px;
  border-radius: 20px;
  background: #bfbfbf;
  -webkit-transition: .5s all;
  transition: .5s all;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.switch::before {
  position: absolute;
  content: '';
  left: -6px;
  top: -6px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #3071a9;
  -webkit-box-shadow: 0 0 10px 0 #999999;
          box-shadow: 0 0 10px 0 #999999;
  -webkit-transition: .5s all;
  transition: .5s all;
  z-index: 1;
}

.switch-on {
  background: #fff;
  -webkit-box-shadow: inset 0 0 10px 0 #999999;
          box-shadow: inset 0 0 10px 0 #999999;
}

.switch-on::before {
  background: red;
  left: 30px;
}
/*# sourceMappingURL=main.css.map */